<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
        
<!--   
   <context:component-scan base-package="com.fsr.services.*" />
    <context:annotation-config/> -->
    <bean id="Contact" class="com.fsr.entities.Contact" scope="prototype">
        <property name="firstName" value="Toto"/>
        <property name="lastName" value="Test"/>
        <property name="email" value="test@gmail.com"/>
        <property name="add"><ref bean="Address"/></property>
        <property name="phones">
            <set>
                <ref bean ="PN1"/>
                <ref bean ="PN2"/>
            </set>
        </property>
        <property name="books">
            <set>
            <ref bean="ContactGroup"/>
            </set>
        </property>
    </bean>

    <bean id="PN1" class="com.fsr.entities.PhoneNum" scope="prototype">
        <property name="PhoneKind" value="Iphone"/>
        <property name="phoneNum" value="060606060606"/>
    </bean>
    <bean id="PN2" class="com.fsr.entities.PhoneNum" scope="prototype">
        <property name="PhoneKind" value="Samsung"/>
        <property name="phoneNum" value="070707070707"/>
    </bean>

    <bean id="Address" class="com.fsr.entities.Address" scope="prototype">
        <property name="Street" value="street"/>
        <property name="City" value="city"/>
        <property name="zip" value="zip"/>
        <property name="Country" value="country"/>
    </bean>

    <bean id="ContactGroup" class="com.fsr.entities.ContactGroup" scope="prototype">
        <property name="groupName" value="first_gp"/> 
    </bean>

</beans>
